@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');
.button1 {
    color: black;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    height: 5em;
    width: 12em;
    position: relative;
}
.button2 {   
    color: black;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    height: 5em;
    width: 12em;
    position: relative;
}
.button3 {   
    color: black;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    height: 5em;
    width: 12em;
    position: relative;
}

@media screen and (max-width: 600px) {
    body {
        background: linear-gradient(#FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #C5B29C;
}

.button1 {
    height: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    width: 33vw;
    height: 8vh;
    color: #000;
    background-color: #d2a679;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, .8);
    border: #ad8760 2px solid;
}
.button2 {
    height: 100%;
    position: fixed;
    bottom: 0;
    left: 33.5%;
    align-items: center;
    justify-content: center;
    width: 33vw;
    height: 8vh;
    color: #000;
    background-color: #d2a679 ;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, .8);
    border: #ad8760 2px solid;
}
.button3 {
    height: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 33vw;
    height: 8vh;
    color: #000;
    background-color:#d2a679;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, .8);
    border: #ad8760 2px solid;
    background-position: center;
    transition: background 0.8s;
 }
 .square {
    height: 8.25vh;
    width: 100vw;
    background-color: #FFEBCD;
    z-index: 2;
    position: fixed;
    bottom: 0;
    left: 0;
 }
 .fa.menu_icon {   
     font-size: 4rem!important;
 }
 
}
