.button1 {
    color: black;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    height: 5em;
    width: 12em;
    position: relative;
}
.button2 {   
    color: black;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    height: 5em;
    width: 12em;
    position: relative;
}
.button3 {   
    color: black;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    height: 5em;
    width: 12em;
    position: relative;
}

@media screen and (max-width: 600px) {
    body {
        background: linear-gradient(#FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #C5B29C;
}

.button1 {
    bottom: 0;
    right: 0;
    color: black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* size: 48 x 48dp; */
    height: 8vh;
    width: 33vw;
    border-radius: 5%;
    position: fixed;
}
.button2 {
    bottom: 0;
    left: 33%;
    padding: 0;
    color: black;
    background-color: red;
    font-family: Arial, Helvetica, sans-serif 12em;
    /* size: 48 x 48dp; */
    height: 10vh;
    width: 34vw;
    border-radius: 5%;
    position: fixed;
}
.button3 {
    bottom: 0;
    left: 0;
    color: black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* size: 48 x 48dp; */
    height: 8vh;
    width: 33vw;
    border-radius: 5%;
    position: fixed;
 }
 .button1:active {
     outline-color: red;
     background-color: black;
     color:white;
 }
 .button2:active {
     outline-color: red;
     background-color: black;
     color:white;
 }
 .button3:active {
     outline-color: red;
     background-color: black;
     color:white;
 }
 .icon {   
    content: '';
	position: absolute;
    border: 2px solid; 
    color: green;
	border-radius: 50%;
	width: 10px;
	height: 10px;   
}
.icon:after {
    width: 23px;
    height: 15px;
    transform: translateX(-8px) translateY(15px);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
}
